DEVICE={{ gateway_if }}.{{ gateway_vlan }}
#BOOTPROTO=none
ONBOOT=no
IPADDR={{ gateway_port_ip }}
NETMASK={{ gateway_netmask }}
USERCTL=no
NETWORK={{ gateway_net }}
VLAN=yes
TYPE=OVSPort
DEVICETYPE=ovs
OVS_BRIDGE=br-ex