CREATE DATABASE trove;
GRANT ALL PRIVILEGES ON trove.* TO trove@'localhost' IDENTIFIED BY '{{ nova_db_password.stdout }}';
GRANT ALL PRIVILEGES ON trove.* TO trove@'%' IDENTIFIED BY '{{ nova_db_password.stdout }}';