# Place this file in your /etc/yum.repos.d/ directory

[rdo-{{ openstack_release }}]
name=Red Hat OpenStack for EPEL 6
baseurl=http://repos.fedorapeople.org/repos/openstack/openstack-{{ openstack_release }}/epel-6
enabled=1
skip_if_unavailable=1
gpgcheck=0
priority=98
